@font-face {
    font-family: "Neo Sans Pro Black";
    src: url('{{ asset("/Fonts/NeoSansProBlack.OTF") }}') format("opentype");

    /* Black */
}

@font-face {
    font-family: "Neo Sans Pro medium";
    src: url("/Fonts/NeoSansProMedium.OTF") format("opentype");

    /* Medium */
}

@font-face {
    font-family: "Neo Sans Pro Regular";
    src: url("/Fonts/NeoSansProUltIt.OTF") format("opentype");

    /* Regular */
}

.drop-area {
    width: 85px;
    height: 113px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1c56a8;
    font-size: 5px;
    cursor: pointer;
    text-align: center;
    position: relative;
    margin-top: 15px;
    border: 2px solid #245ca8;
}

.image-preview {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 113px;
}

.drop-area.dragover {
    background-color: #f0f8f0;
}

.drop-area img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}

.image-preview {
    display: none;
    margin-top: 70px;
    text-align: center;
}

.form-container {
    margin-top: 20px;
    text-align: center;
    display: none;
}

.centralizar-imagem {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 226px;
}

.card-container {
    width: 360px;
    margin: 20px auto;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: transparent;
}

.card-header {
    padding: 0px;
    background-color: transparent;
    color: white;
    font-size: 14px;
    text-align: center;
}

.card-body {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-body img {
    max-width: 100%;
    border-radius: 0px;
}

.usuario {
    color: #1c56a8;
    font-weight: 900;
    font-family: "Neo Sans Pro Black", sans-serif;
    margin-top: 8px;
    padding: 5px;
    margin-bottom: 0px;
    font-size: 15px;
}

.cargo {
    font-family: "Neo Sans Pro Medium", sans-serif;

    margin-top: 0px;
    font-size: 12px;
    font-weight: 700;
    color: gray;
}

.drop-area img {
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
}

.usuario,
.cargo {
    margin-bottom: 0px;
}

.footer-img {
    width: 226px;
    height: 40px;
    margin-top: 20px;
}

.crachas-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

/* Nova classe para aumentar a margem do preview da imagem */
.preview-image-second-cracha {
    margin-top: 10px;
}

.footer-img1 {
    width: 226px;
    height: 40px;
    margin-top: 57px;
}

.titulo {
    font-size: 16px;
    font-weight: bold;
    color: #1c56a8;
    margin-top: 30px;
    margin-bottom: 2px;
}

.drop-area1 {
    width: 90px;
    height: 90px;
    border: 1px solid #245ca8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #245ca8;
    font-size: 5px;
    cursor: pointer;
    text-align: center;
    position: relative;
    margin-top: 50px;
    margin-bottom: -6px;
}

.card-body {
    position: relative;
}

.matricula {
    position: absolute;
    top: 10px;
    right: 80px;
    font-size: 12px;
    color: #ffffff;
    font-weight: 100;
    background-color: transparent;
    padding: 5px;
    z-index: 10;
    margin-top: 312px;
    margin-bottom: 600px;
    font-family: "Neo Sans Pro", sans-serif;
}

.footer-img {
    position: relative;
    z-index: 1;
}
.cod-matricula {
    font-family: "Arial", sans-serif;
    font-weight: 700;
    top: 10px;
    right: 100px;
    font-size: 13px;
}

.drop-area1 img {
    margin-top: 2px;
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.botao {
    background-color: #0e4194;
    margin-left: 128px;
    margin-bottom: 20px;
    font-family: "inter", Courier, monospace;
}
