@page {
    size: 54mm 86mm;
    margin: 0cm;
}

@font-face {
    font-family: "Neo Sans Pro";
    src: url("fonts/NeoSansPro-Black.ttf") format("truetype");
    font-weight: 900;
    /* Black */
}

@font-face {
    font-family: "Neo Sans Pro";
    src: url("fonts/NeoSansPro-Medium.ttf") format("truetype");
    font-weight: 500;
    /* Medium */
}

body {
    font-family: "Inter", Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cracha-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1cm;
    text-align: center;
}

.cracha img {
    width: 100%;
    height: auto;
}

.drop-area img {
    justify-content: center;
    max-width: 100%;
    /* Garante que a largura máxima seja igual à do contêiner */
    max-height: 100%;
}

.drop-area {
    width: 90px;
    height: 113px;
    left: 55px;
    border: 2px solid #245ca8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1c56a8;
    font-size: 5px;
    cursor: pointer;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
}

.footer-img {
    width: 226px;
    height: 40px !important;
    position: absolute;
    bottom: 0;
}

.usuario {
    color: #1c56a8;
    font-weight: 900;
    font-family: "Neo Sans Pro", sans-serif;
    padding: 5px;
    margin-bottom: 0px;
    font-size: 15px;
    margin-top: 5px;
}

.cargo {
    font-family: "Neo Sans Pro", sans-serif;
    margin-top: 0px;
    font-size: 12px;
    color: gray;
    font-weight: 700;
}

.card-body {
    position: relative;
}

.footer-img1 {
    width: 100%;
    height: calc(100vh - /* altura dos outros elementos */);
    position: absolute;
    bottom: 0;
}

.matricula {
    position: absolute;
    top: -18px;
    right: 6px;
    font-size: 13px;
    color: #ffffff;
    background-color: transparent;
    padding: 5px;
    z-index: 10;
    margin-top: 312px;
    margin-bottom: 600px;
}

.cod-matricula {
    font-weight: 700;
    font-family: "Neo Sans Pro", sans-serif;
}

.crachaHeader {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}

.drop-area1 {
    width: 95px;
    height: 95px;
    border: 1px solid #245ca8;
    border-radius: 7px;
    display: flex;
    left: 55px;
    justify-content: center;
    align-items: center;
    color: #245ca8;
    font-size: 5px;
    cursor: pointer;
    text-align: center;
    position: relative;
    margin-top: 50px;
    margin-bottom: -6px;
}

.drop-area1 img {
    margin-top: 10px;
    width: 75px;

    height: 75px;

    object-fit: contain;
}
